/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.horizontal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group:not(:last-child) {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.field {
    display: flex;
    
}

.box {
    border: #ff0505 2px solid; /*境界線の指定*/
    background:#f97b7bf4; /*背景色の指定*/
    font-size: 13px;
}
.box p {
    margin: 1px;
    padding:0;
    width: 27px; 
}

.box1 {
    border: #585858 2px solid; /*境界線の指定*/
    background:#9b9c9bf4; /*背景色の指定*/
    font-size: 13px;
}
.box1 p {
    margin: 1px;
    padding:0;
    width: 27px; 
}
