<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント作成</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h2>StudySync</h2>
        <form action="/submit" method="POST">

            <div class="field">
            <label for="username">ユーザー名　</label>
            <div class="box">
                <p>必須</p>
                </div>
            </div>
            <input type="text" id="username" name="username" required>
            
            <div class="field">
            <label for="email">メールアドレス　</label>
            <div class="box">
                <p>必須</p>
                </div>
            </div>
            <input type="email" id="email" name="email" required>

            <div class="field">
            <label for="password">パスワード　</label>
            <div class="box">
                <p>必須</p>
                </div>
            </div>
            <input type="password" id="password" name="password" required>

            <div class="horizontal-group">
                <div class="form-group">
                    <div class="field">
                    <label for="faculty">学部　</label>
                    <div class="box1">
                        <p>任意</p>
                        </div>
                        </div>
                    <input type="text" id="faculty" name="faculty" required>
                </div>
                
                <div class="form-group">
                    <div class="field">
                    <label for="year">年次　</label>
                    <div class="box1">
                        <p>任意</p>
                        </div>
                        </div>
                    <select id="year" name="year" required>
                        <option value="" disabled selected>選択してください</option>
                        <option value="1">1年</option>
                        <option value="2">2年</option>
                        <option value="3">3年</option>
                        <option value="4">4年</option>
                    </select>
                </div>
            </div>

            <button type="submit">新規作成</button>
        </form>
    </div>
</body>
</html>
